# fly.toml app configuration file generated for herbal-soap-works-backend on 2024-11-30

app = "herbal-soap-works-backend"
primary_region = "iad"

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
